@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gothic+A1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-family-Gothic: "Gothic A1", sans-serif;
    --font-family-Dancing: "Dancing Script", cursive;
    --primary-color: #212121;
    --secondary-color: #DED7C4;
}

.bg1 {
    background-color: chocolate;
}

.bg2 {
    background-color: rgb(30, 210, 75);
}

.bg3 {
    background-color: rgb(210, 30, 180);
}

/* FLEXBOX */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.texte-center {
    text-align: center;
}

/* GENERAL */
body {
    background-color: #212121;
    position: relative;
}

h1,
h2,
h3 {
    color: var(--secondary-color);
}

h1,
h3 {
    font-family: var(--font-family-Dancing);
    font-size: 88px;
}

h2 {
    font-family: var(--font-family-Gothic);
    font-size: 48px;
    letter-spacing: 16px;
}

/*TAILLES ET CONTAINEURS*/
.width50 {
    width: 50%;
}

.container-1200 {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* ACCEUIL */
.star-home {
    width: 100%;
    height: 100vh;
    background-image: URL('./assets/star.svg');
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(1px 1px 2px);
    position: relative;
}

.title {
    width: 700px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.coder {
    text-align: right;
    margin-top: 28px;
}

/* BORDURES COLOREES*/
.border-oblique {
    height: 200px;
}

.border-sides {
    max-width: 1500px;
    height: 5000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid var(--secondary-color);
    border-right: 1px solid var(--secondary-color);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 3600px;
    left: 50%;
}

/* GRILLE PROFILS */

.container-profil {
    height: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "history savoir autre"
        "language savoir motivation"
        "language me-contacter motivation";
}

.container-profil>div {
    border: 1px solid var(--secondary-color);
}

.history {
    grid-area: history;
}

.savoir {
    grid-area: savoir;
}

.me-contacter {
    grid-area: me-contacter;
}

.language {
    grid-area: language;
}

.motivation {
    grid-area: motivation;
}

.autre {
    grid-area: autre;
}