@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gothic+A1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-family-Gothic: "Gothic A1", sans-serif;
    --font-family-Dancing: "Dancing Script", cursive;
    --primary-color: #212121;
    --secondary-color: #DED7C4;
}

/* FLEXBOX */
.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.texte-center {
    text-align: center;
}

/*POSITIONS*/
.relative {
    position: relative;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

/* GENERAL */
body {
    background-color: var(--primary-color);
    font-family: var(--font-family-Gothic)
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

h1,
h2,
h3,
h4 {
    color: var(--secondary-color);
}

h1,
h3 {
    font-family: var(--font-family-Dancing);
    font-size: 66px;
}

h2 {
    font-family: var(--font-family-Gothic);
    font-size: 48px;
    letter-spacing: 10px;
}

p {
    color: var(--secondary-color);
    line-height: 1.5rem;
}


/* BOUTONS*/
.btn {
    display: inline-block;
    padding: 10px 50px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    cursor: pointer;
}

/*TAILLES ET CONTAINEURS*/
.w100 {
    width: 100%;
}

.width50 {
    width: 50%;
}

.width40 {
    width: 40%;
}

.container-1200 {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
}

.container-1500 {
    max-width: 1500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*MARGES*/
body>section {
    margin-bottom: 200px;
}

.module {
    padding: 16px;
    position: relative;
    overflow: hidden;
}

.mrgB125 {
    margin-bottom: 125px;
}

.mrgB45 {
    margin-bottom: 45px;
}

.mrgB16 {
    margin-bottom: 16px;
}

.mT100 {
    margin-top: 100px;
}

.pT100 {
    padding: 100px 0 200px 0;
}

.pB80 {
    padding-bottom: 80px;
}

.mAuto {
    margin: auto;
}

.gap30 {
    gap: 80px;
}

.gap10 {
    gap: 30px;
}

.inter-section {
    padding-bottom: 200px;
}

/*EFFET SOURIS*/

.halo {
    background-color: var(--secondary-color);
    transform: translate(-50%, -50%);
    filter: blur(120px);
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    pointer-events: none;
    display: none;
}

/*HEADER*/

ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.3rem;
}

ul li:hover {
    transition: transform 0.3s ease;
    transform: scale(1.05);
}

ul {
    list-style-type: none;
}

header {
    width: 100%;
    padding: 28px;
    background-color: var(--primary-color);
    position: sticky;
    top: 0px;
    border-bottom: 1px solid var(--secondary-color);
    z-index: 1;
}

.logoMini {
    background-image: URL('./assets/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 35px;
    width: 35px;
}

/* ACCEUIL */
.star-home {
    width: 100%;
    height: 88vh;
    background-image: URL('./assets/Texte-Acceuil.svg');
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(1px 1px 2px);
    position: relative;
}

.title {
    width: 700px;
}

.coder {
    text-align: right;
    margin-top: 20px;
}

.designer {
    border-right: 1px solid var(--secondary-color);
}

/* BORDURES COLOREES*/
.border {
    border-right: 1px solid var(--secondary-color);
    border-left: 1px solid var(--secondary-color);
}

/* GRILLE PROFILS */

.container-profil {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 40px 40px;
    grid-auto-flow: row;
    grid-template-areas:
        "bio language logiciel"
        "bio me-contacter framework"
}

.container-profil>div {
    border: 1px solid var(--secondary-color);
}

.name {
    grid-area: name;
}

.logo {
    background-image: URL('./assets/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100px;
    width: 100px;
    display: grid;
    margin: 32px 35%;
}

.me-contacter {
    grid-area: me-contacter;
}

.bio {
    grid-area: bio;
}

.language {
    grid-area: language;
}

.logiciel {
    grid-area: logiciel;
}

.framework {
    grid-area: framework;
}

/*nuage de mots*/
.cloud {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, auto));
    gap: 10px;
}

.word {
    font-size: 1rem;
    padding: 5px 10px;
    color: var(--secondary-color);
    text-align: center;
}

.word:hover {
    transform: scale(1.2);
}

/*PROJETS*/

.container-projets>div {
    border: 1px solid var(--secondary-color);
}

.projet-com {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 360px;
    height: 250px;
    transition: transform 0.3s ease;
    filter: sepia(100%) brightness(70%);
    margin-top: 45px;
}

.projet-com:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    filter: none;
}

/*ME CONTACTER*/
input[type="text"],
input[type="email"],
textarea {
    background-color: var(--primary-color);
    padding: 10px;
    border: 1px solid var(--secondary-color);
    outline: none;
    color: var(--secondary-color);
    width: 250px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
}

.contact>p {
    margin-bottom: 64px;
}

.contact>h3 {
    margin-bottom: 16px;
}

textarea {
    width: 100%;
    height: 200px;
}

/*FOOTER*/
.footer-star {
    width: 100%;
}

.footer-star img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* PAGE PROJETS */
.contner {
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}

.contner::-webkit-scrollbar {
    width: 8px;
}

.contner::-webkit-scrollbar-track {
    background: var(--primary-color)
}

.contner::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

.contner::-webkit-scrollbar-thumb:hover {
    background: #303030;
}

/*fenêtre en plein écran */
#plein-ecran {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100%;
    display: none;
    overflow: auto;
    z-index: 2;
}

#plein-ecran::-webkit-scrollbar {
    width: 8px;
}

#plein-ecran::-webkit-scrollbar-track {
    background: var(--primary-color)
}

#plein-ecran::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

#plein-ecran::-webkit-scrollbar-thumb:hover {
    background: #303030;
}

.fermer {
    width: 50px;
    position: fixed;
    top: 10px;
    right: 20px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 36px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    padding-top: 5px;
}

/* MENU BURGER */
.burger-menu {
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;

}

.bar {
    width: 100%;
    height: 3px;
    background-color: var(--secondary-color);
    position: absolute;
    transition: transform 0.3s, opacity 0.3s;
}

.bar:nth-child(1) {
    top: 0;
}

.bar:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.bar:nth-child(3) {
    bottom: 0;
}

.burger-menu.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.burger-menu.open .bar:nth-child(2) {
    opacity: 0;
}

.burger-menu.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.fenetre-menu {
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    position: fixed;
    top: 78px;
    left: 0;
    z-index: 1;
}

.fenetre-menu ul {
    padding: 25px;
    color: var(--secondary-color);
    font-size: 32px;
    font-weight: 700;
    list-style-type: none;
    text-align: center;
    line-height: 50px;
}

.starMini {
    background-image: URL('./assets/footer-star.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;

}

.input-error {https://chrldc.github.io/Portfolio/projet.html?ref=ms
    border: 1px solid rgb(255, 0, 0);
}

.p-error {
    color: red;
    font-size: 14px;
}

/* Petite taille d'écran */
@media screen and (max-width: 576px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .starMini {
        display: block;
    }

    .logo {
        display: none;
    }

    .logoMini {
        display: block;
    }

    .burger-menu {
        display: block;
    }

    .mrgB125 {
        margin-bottom: 50px;
    }

    .menuD {
        display: none;
    }

    /* Titres */
    h1,
    h3 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
        letter-spacing: 5px;
    }

    .d-noneR {
        display: none;
    }

    /* SLIDER */
    .carousel-container {
        width: 100%;
        overflow-x: scroll;
    }

    .carousel-slides {
        display: flex;
        flex-wrap: nowrap;
        width: fit-content;
        gap: 10px;
    }

    .carousel-item {
        scroll-snap-align: start;
        width: 600px;
        position: relative;
    }

    .projet-com {
        width: 430px;
        margin-bottom: 16px;
    }

    .carousel-container::-webkit-scrollbar {
        width: 8px;
    }

    .carousel-container::-webkit-scrollbar-track {
        background: var(--primary-color)
    }

    .carousel-container::-webkit-scrollbar-thumb {
        background: var(--secondary-color);
    }

    .carousel-container::-webkit-scrollbar-thumb:hover {
        background: #303030;
    }

    /* Boutons */
    .btn {
        padding: 8px 20px;
        font-size: 14px;
    }

    .container-profil {
        display: block;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
            "bio language logiciel"
            "bio me-contacter framework"
    }

    .inter-section {
        padding-bottom: 50px;
    }

    .border {
        border: none;
    }

    /* Me contacter */
    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        margin-bottom: 16px;
    }

    .zeze {
        width: 100%;
    }

    #zone {
        width: 100%;
        justify-content: center;
    }

    /*PAGE PROJET*/
    .w100R {
        width: 100%;
    }

    #retour {
        display: none;
    }

    .contner {
        height: 300px;
    }

    #plein-ecran {
        width: 100%;
    }

    .projR {
        justify-content: center;
    }
}

/* Moyenne taille d'écran */
@media screen and (min-width: 377px) and (max-width: 900px) {
    .starMini {
        display: block;
    }

    /* Titres */
    h1,
    h3 {
        font-size: 48px;
    }

    .border {
        border: none;
    }

    h2 {
        font-size: 36px;
        letter-spacing: 8px;
    }

    .d-noneR {
        display: none;
    }

    /* Boutons */
    .btn {
        padding: 10px 30px;
        font-size: 16px;
    }

    /*PAGE PROJET*/
    .w100R {
        width: 100%;
    }
}